body {
    font-family: Arial, sans-serif;
    background-color: #dbdbdb;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #2a6b2f;
    color: white;
    padding: 15px;
    text-align: center;
}

.city-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.city-buttons button {
    background-color: white;
    border: none;
    color: #007BFF;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.city-buttons button:hover {
    background-color: #e7e7e7;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex;
    padding: 20px;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}



.info {
    flex-grow: 1;
}

.agenda {
    text-align: right;
}

.agenda button {
    display: block;
    background-color: #DCD6F7;
    border: none;
    padding: 10px;
    margin-top: 5px;
    color: #4B0082;
    border-radius: 5px;
    cursor: pointer;
}

.agenda button:hover {
    background-color: #C4B5FD;
}


button {
    background-color: #318549;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #318549;
}

button a {
    color: white;
    
}
button:hover a{
    background-color: #318549;
}

footer{
    background: #161616;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer span{
    color: #00804b;
    font-weight: 600;
}

footer span:hover{
    text-decoration: underline;
}